.home-contact {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    border: 0;

    .lead {
        font-size: 18px;
        line-height: 36px;
        text-align: left;
        padding-top: 95px;
        position: relative;
        display: inline-block;
        text-align: center;

        @media #{$min-sm} {
            text-align: left;
            padding-top: 0;
            padding-left: 95px;
        }

        svg {
            position: absolute;
            left: calc(50% - 37px);
            top: 0;

            @media #{$min-sm} {
                left: 0;
                top: 8px;
            }

            g {
                path {
                    fill: #e52713;
                    transition: 0.3s all;
                }
            }
        }
    }

    &:hover {
        transition: color 0.35s;

        .lead {
            svg {
                g {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        a {
            color: $white;
        }
    }
}
