.home-how {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
        margin-bottom: 45px;
        color: $gray;
    }

    .step {
        margin-top: 15px;
        margin-bottom: 15px;

        span {
            color: $white;
            background-color: $gray;
            line-height: 76px;
            height: 76px;
            width: 76px;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 30px;

            @media #{$min-lg} {
                display: block;
                margin-bottom: 0;
            }
        }

        img {
            max-width: 200px; /* or max-width: 100%; */
            height: auto;
            margin-bottom: 30px;
        }
    }

    .ready {
        margin-top: 45px;
        margin-bottom: 30px;

        .ready-text {
            background-color: $gray;
            color: $white;
            padding: 30px 90px 30px 60px;
            justify-content: center;
            align-items: flex-start;
            display: flex;
            flex-direction: column;

            @media #{$min-sm} {
                padding: 30px 30px 90px 30px;
            }

            @media #{$min-md} {
                transform: translate(30px, 0px);
            }

            @media #{$min-lg} {
                padding: 70px 160px 70px 90px;
                transform: translate(60px, 0px);
            }

            @media #{$min-xl} {
                transform: translate(0px, 0px);
                padding: 80px 160px 80px 90px;
            }

            h3 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }
        }

        .ready-image {
            padding: 0;

            @media #{$min-sm} {
                transform: translate(0px, -60px);
            }

            img {
                width: 100%;

                @media #{$min-md} {
                    transform: translate(-30px, 30px);
                }

                @media #{$min-lg} {
                    transform: translate(-60px, 30px);
                }

                @media #{$min-xl} {
                    transform: translate(-160px, 30px);
                }
            }
        }
    }

    .button {
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .hl {
        text-decoration: underline;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
}
